:root {
    --background: #131318;
    --colortext-primary: #FFFFFF;
}

@-webkit-keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }


.home-01 h2 {
 color: #FFF;
 font-family: "DM Sans", sans-serif;
font-size: 34px;
font-style: normal;
font-weight: 900;
line-height: 90%; 
margin: 24px 0 8px 0;
}

.home-01 p{
color: #FFF;
font-family: "DM Sans", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.6;
margin-bottom: 8px;
}

.home-01 h3{
    color: #FFF;
    font-family: "DM Sans", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.button-home-01{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 16px;
}

.button-home-01 button{
    display: flex;
    width: 130px;
    height: 50px;
    padding: 20px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 25px;
    background: var(--background);
    border: solid 2px #6F5FE7;
    color: var(--Colors-White, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;  
}

.home-rewards{
    display: flex;  
    justify-content: space-evenly;
    border-bottom: solid 1px #6F5FE7;
    margin: 0 -24px;
}

.home-rewards h4{
    margin-top: 24px;
    display: flex;
width: 187px;
height: 45px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
background-color: var(--background);
border: none;
color: var(--colortext-primary);
align-items: center;
}

.home-main,.rewards-main{
    display: flex;
    align-items: center;
    
}

.home-main a{
    display: block;
    color: white;
    text-decoration: none;
}

.rewards-main a{
    display: block;
    color: white;
    text-decoration: none;
}

.home-header{
    display: flex;
    font-family: "DM Sans", sans-serif;
    justify-content: left;
    align-items: center;
    gap: 80px;
    border-bottom: #494949 1px solid;
    margin: 0 -24px;
}

.home-header h2{
color: #FFF;
text-align: center;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 24px;
}

.home-header p{
color: #FFF;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 24px;
}

.home-public h2{
color: #FFF;
font-family: "DM Sans", sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.home-public div{
border-radius: 5px;
background: #2D2D2D;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.05);
padding: 10px;
}

.home-public h3{
    
color: #FBFBFB;
font-family: "DM Sans", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.home-public p{
    color: #FBFBFB;
    font-family: "DM Sans", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.Campaigns h2{
    color: #FFF;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home-buttons a{
text-decoration: none;
color: #FBFBFB;
color: #FFF;
text-align: center;
font-family: "DM Sans", sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.home-buttons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.this-week img{
    width: 120px;
height: 120px;
flex-shrink: 0;
}

.this-week h2{
    color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin-top: -4px;
}

.this-week p{
    color: #E0E0E0;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.div-thisweek{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.text-thisweek{
  display: flex;
  flex-direction: column;
}

.text2-thisweek{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

aside{
    display: flex;
    flex-direction: column;
}

.div-back{
    width: 330px;
    height: 49px;
    flex-shrink: 0;
    border-radius: 5px;
background: #6F5FE7;
z-index: 1;
margin-top: 50px;
text-align: right;
}

.div-back h2{
  margin: 12px 20px;
}

.div-front{
    z-index:2;
    width: 240px;
height: 92px;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid #6F5FE7;
background: #131318;
position: absolute;
margin-left: 10px;
display: flex;
justify-content: space-between;
padding: 10px;
align-items: center;

justify-items: center;

}

.div-front img{
    width: 70px;
height: 70px;
flex-shrink: 0;
}

.div-front div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.div-right{
    display: flex;
    width: 69px;
    height: 30px;
   
    flex-direction: column;
    justify-content: center;
    align-items: center; 
 
    border-radius: 5px;
border: 1px solid #6F5FE7;
position: absolute;
z-index: 2;
right: 20px;
gap: 3px;
}

.div-right h2,.div-right h3{
    color: #FFF;
text-align: center;
font-family: "DM Sans", sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 0px; 
margin-top: -0.5px;
}


